/* about section */
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--padding);
}

/* about items container */
.about .my {
  display: flex;
  padding-inline: var(--padding);
  height: 80px;
  width: 48.5%;
  border-radius: var(--border-radius);
  min-width: 310px;
  border: 1px solid var(--border-light);
}

/* Wrapper for about-me */
.about .about-me {
  align-items: center;
  gap: 1rem;
}

/* Circular image wrapper with border */
.about-me .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  height: 50px;
  border: 3px solid var(--dark-clr);
  aspect-ratio: 1/1;
  background-color: var(--light-clr);
}

/* Decorative gradient border */
.about-me .image-wrapper::before {
  position: absolute;
  content: "";
  height: 54px;
  aspect-ratio: 1/1;
  background: var(--gradient);
  border-radius: inherit;
  z-index: -10;
}

/* Icon inside image wrapper */
.about-me .image-wrapper .icon {
  color: var(--dark-clr);
  font-size: 24px;
  opacity: 0.7;
}

.image-wrapper img {
  border-radius: inherit;
  position: absolute;
  border: 3px solid var(--dark-clr);
}

/* personal info  */
.about-me .personal-info-wrapper {
  display: flex;
  flex-direction: column;
}

/* profession */
.personal-info-wrapper .profession {
  font-size: 0.925rem;
  opacity: 0.7;
}

/* Location */
.personal-info-wrapper .location {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.765rem;
  transform: translateX(-5px);
  opacity: 0.7;
}

/* social links */
.about .social-links {
  position: relative;
  padding-top: 10px;
  min-width: 310px;
}

/* Title text for links */
.about .link-title {
  position: absolute;
  font-size: 0.75rem;
  top: 5px;
  left: 25px;
  opacity: 0.7;
}

/* full width on smaller devices */
@media (max-width: 700px) {
  .about .my {
    width: 100%;
  }
}
