/* Project Card Layout */
.project {
  display: flex;
  flex-direction: column;
  max-width: min(21.25rem, 100%);
  border-radius: var(--radius);
  border: 1px solid var(--border-light);
  overflow: hidden;
}

/* Image Wrapper */
.project .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  aspect-ratio: 16 / 9;
  border-radius: var(--radius) var(--radius) 0 0;
  overflow: hidden;
}

.project .img-wrapper .preview {
  color: var(--border-light);
}

.project .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.project:hover .img-wrapper img {
  transform: scale(1.05);
}

/* Info Section */
.project .info-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--md-size);
  padding: var(--md-size);
}

.project .info-wrapper .project-title {
  font-weight: 500;
}

.project .info-wrapper .description {
  font-size: 0.875rem;
  min-height: 4rem;
  opacity: 0.7;
}

/* Technologies Used */
.project .info-wrapper .tech-used {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sm-size);
  font-size: 0.75rem;
  font-weight: 500;
  position: relative;
  margin-top: 1.5rem;
}

.project .tech-stack {
  position: absolute;
  top: -1.25rem;
  left: 0;
  opacity: 0.7;
}

.project .technology {
  display: flex;
  align-items: center;
  gap: var(--sm-size);
  padding: 0.1875rem var(--md-size);
  border-radius: var(--sm-size);
  border: 1px solid var(--border-light);
}

/* Link Buttons */
.project .link-button {
  display: flex;
  align-items: center;
  gap: var(--md-size);
  padding: 0 var(--md-size) var(--md-size);
  position: relative;
}

/* Button shared styles */
.project .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sm-size);
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-btn);
  border: 1px solid var(--border-light);
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* Live preview */
.project .live-preview {
  background-color: var(--light-clr);
  color: var(--dark-clr);
}

@media (min-width: 768px) {
  .project .live-preview:hover {
    opacity: 0.7;
  }

  /* Source Code & Share Buttons */
  .project .source-code:hover,
  .project .share:hover {
    background-color: var(--hover-light);
  }
}

/* Share icon button */
.project .share {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  aspect-ratio: 1 / 1;
  font-size: 1.25rem;
  border-radius: 50%;
  position: absolute;
  right: var(--md-size);
  cursor: pointer;
}

/* Share Links Dropdown*/
.share-links {
  display: none;
  flex-direction: column;
  gap: var(--sm-size);
  position: absolute;
  bottom: 2.5rem;
  right: 0;
  z-index: 10;
  padding: var(--md-size);
  background-color: var(--dark-clr);
  border: 1px solid var(--border-light);
  border-radius: var(--radius);
  transition: all 0.3s ease-in-out;
}

.share-links.open {
  display: flex;
}

.share-links a {
  display: flex;
  align-items: center;
  gap: var(--md-size);
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-btn);
  color: inherit;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.share-links a:hover {
  background-color: var(--hover-light);
}

.share-icons {
  width: 20px;
  aspect-ratio: 1 / 1;
}
