.emphasized {
  padding: 0.25rem 0.5rem;
  width: fit-content;
  position: relative;
  color: var(--accent-clr);
  background-color: var(--accent-tr);
}

.emphasized::before {
  content: "";
  background-color: var(--accent-clr);
  font-weight: 500;
  position: absolute;
  width: 2px;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
