/* skills section */
.skills.hidden {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--md-size) * 3);
  padding: var(--bg-size);
  border-radius: var(--radius);
  border: 1px solid var(--border-light);
  opacity: 0;
  transform: translateY(2.5rem);
  transition: all 0.7s ease-in-out;
}

.skills.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 700px) {
  .skills.hidden {
    transition-delay: 0.2s;
  }
}
