/* skills section */
.skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--padding);
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-light);
}
