:root {
  --light-clr: #09090b;
  --dark-clr: #fefefe;
  --accent-clr: #14b7a6;
  --accent-tr: #14b7a71f;
  --border-dark: #e4e4e741;
  --border-light: #00000025;
  --hover-light: #0000001c;
  --hover-dark: #ffffff1c;
  --radius: 0.5rem;
  --radius-btn: 0.25rem;
  --bg-size: 1.25rem;
  --md-size: 0.625rem;
  --sm-size: 0.25rem;
  --icon-md: 24px;
  --gradient: conic-gradient(
    from 180deg at 50% 50%,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5,
    #feda75
  );
}
