@import url("../styles/fonts.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background-clr: #000;
  --text-clr: #fff;
  --border-clr: #3d444d;
  --bg-size: 200px;
}
