.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-inline: 20px;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 250px;
  width: 48%;
  border: 1px solid var(--border-clr);
  border-radius: 20px;
  position: relative;
}

.about-title {
  font-size: 32px;
  margin-bottom: 1rem;
}

.about-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  font-size: 14px;
  height: 250px;
  width: 48%;
  border: 1px solid var(--border-clr);
  border-radius: 20px;
  position: relative;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 14px;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  height: 125px;
  background: conic-gradient(
    from 140deg,
    rgb(191, 0, 255),
    rgb(41, 0, 135),
    rgb(64, 0, 255),
    rgb(71, 4, 130),
    rgb(157, 0, 255)
  );
  border-radius: 50%;
  border: 4px solid #cacaca;
}

.image-wrapper::before {
  content: "";
  width: 125px;
  height: 125px;
  border: 4px solid #fff;
  border-radius: inherit;
  position: absolute;
  left: 170px;
  opacity: 0.25;
  z-index: -1;
}

.image-wrapper::after {
  content: "";
  width: 125px;
  height: 125px;
  border: 4px solid #fff;
  border-radius: inherit;
  position: absolute;
  right: 170px;
  opacity: 0.25;
  z-index: -1;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

@media (max-width: 768px) {
  .profile-image {
    width: 100%;
  }
  .about-me {
    width: 100%;
  }
}
