/* technologies I use */
.tool {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}

/* tech-info container for label + tube */
.tool .tech-info {
  display: flex;
  flex-direction: column;
}

/* Percentage label text */
.tool .tech-info .experience {
  font-size: 0.75rem;
  opacity: 0.7;
}
