header {
  display: flex;
  justify-content: center;
  padding: var(--bg-size);
  position: fixed;
  width: 100%;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: var(--md-size) var(--sm-size);
  border-radius: var(--sm-size);
  background: var(--transparent-background);
  border: 1px solid var(--border-clr);
  backdrop-filter: blur(var(--md-size));
}

header ul a {
  text-decoration: none;
  color: inherit;
  border-radius: var(--sm-size);
  padding: var(--sm-size) var(--md-size);
  transition: all 0.3s ease-in-out;
}

header ul a:hover {
  background: var(--border-clr);
}
