.experiences.hidden {
  border: 1px solid var(--border-light);
  padding: 1rem;
  border-radius: 0.5rem;
  opacity: 0;
  transform: translate(0, 2.5rem);
  transition: all 1s ease-in-out;
}

.experiences.show {
  opacity: 1;
  transform: translate(0, 0);
}
