/* projects section */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--bg-size);
  position: relative;
  transition-delay: 0.1s;
}

/* Search container */
.projects .search {
  display: flex;
  width: 100%;
  gap: 0.625rem;
}

/* Search bar input */
.projects .search input {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--border-light);
  border-radius: var(--radius);
  color: inherit;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0.7;
  padding: 0.625rem 1.25rem;
}

/* Filter button */
.projects .search .filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  border: 1px solid var(--border-light);
  border-radius: var(--radius-btn);
  background: var(--hover-light);
  position: relative;
  padding-block: 0.5rem;
  padding-inline: 1rem 0.5rem;
  cursor: pointer;
  z-index: 1;
}

/* Years dropdown inside filter button */
.projects .search .filter-button .years {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: -5.3125rem;
  border: 1px solid var(--border-light);
  width: 4.7rem;
  border-radius: var(--radius-btn);
  background-color: var(--dark-clr);
  overflow: hidden;
}

.projects .search .filter-button .years.dropped {
  display: flex;
}

.projects .search .filter-button .years button {
  padding: 0.7rem 1rem;
  font-weight: 500;
  background-color: var(--dark-clr);
  border: none;
  color: var(--light-clr);
  cursor: pointer;
}

.projects .search .filter-button .years button:hover {
  background-color: var(--hover-light);
}

/* Project cards container */
.projects .projects-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--bg-size);
  min-height: 25.57rem;
  position: relative;
}

/* Not found message */
.projects .not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects .not-found .icon {
  font-size: 5rem;
}

.projects .not-found p {
  white-space: nowrap;
  font-size: 0.875rem;
}

/* See more button */
.projects .more-projects {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: inherit;
  border-radius: var(--radius-btn);
  border: 1px solid var(--border-light);
  font-size: 0.875rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.projects .more-projects:hover {
  background: var(--hover-light);
}

@media (max-width: 700px) {
  .projects.hidden {
    transition-delay: 0.3s;
  }
}
