.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  aspect-ratio: 1/1;
  height: 40px;
  border-radius: 50%;
  position: relative;
  transition: background 0.3s ease-in-out;
}

.social-link-icon {
  font-size: 24px;
}

.social-link-detail-wrapper {
  display: flex;
  flex-direction: column;
}

.social-media-name {
  font-size: 0;
  transition: font-size 0.3s ease-in-out;
}

.username {
  opacity: 0.7;
  font-size: 0;
  transition: font-size 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .social-link:hover {
    background-color: var(--hover-light);
  }
  .social-link:hover .tool-tip {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.7s;
  }
}
